.pagination--button {
  padding: 0.25rem;
  min-width: 1.75rem;
  height: 100%;
  color: var(--color-shared-12);
}

.pagination-item--link {
  line-height: 0;
  width: 30px;
  height: 30px;
}

.pagination--button[aria-current='page'] {
  background-color: var(--color-shared-8);
  border-color: var(--color-shared-12);
  box-shadow: inset 0 0 4px var(--opacity-7);
}
