.u_corner__none {
  border-radius: var(--radius-none);
}

.u_corner__sm {
  border-radius: var(--radius-sm);
}

.u_corner__md {
  border-radius: var(--radius-md);
}

.u_corner__lg {
  border-radius: var(--radius-lg);
}

.u_corner__xl {
  border-radius: var(--radius-xl);
}

.u_corner__round {
  border-radius: var(--radius-round);
}

.u_corner__full {
  border-radius: var(--radius-full);
}
