body {
  /* Positioning */
  position: absolute;
  top: 0;
  left: 0;

  // Layout
  display: flex;
  flex: 1;
  grid-template-columns: 2fr 1fr;

  /* Box */
  height: 20px;
  min-height: 100vh;

  /* Typography */
  color: hsl(180deg 14% 23%);
  color: rgb(33 33 33);

  /* Visual */
  background-color: hsl(20deg 30% 30%);
}

.btn {
  // Box
  margin: 2rem;
  padding: 1rem 2rem;

  // Visual
  background-color: hsl(20deg 30% 30%);
}
