.rating__2xs {
  font-size: 0.675rem;
}

.rating__xs {
  font-size: 0.75rem;
}

.rating__sm {
  font-size: 0.875rem;
}

.rating__md {
  font-size: 1rem;
}

.rating__lg {
  font-size: 1.25rem;
}

.rating__xl {
  font-size: 1.5rem;
}

.rating__2xl {
  font-size: 1.75rem;
}

.rating svg {
  width: 7em;
}
